@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply h-full w-full bg-background bg-grainy from-[#161d1a] from-10% to-background to-90%;
	width: 100%;
	height: 100%;
}

.active {
	color: aqua;
	font-weight: 500;
}

@layer utilities {
	.font-space {
		font-family: 'Space Grotesk', sans-serif;
	}

	.font-inter {
		font-family: 'Inter', sans-serif;
	}
}

.prose {
	line-height: 1.5;
}

.prose :is(h2, h3, h4, h5, h6) {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.prose a {
	@apply text-textAccent/80;
	text-decoration: underline;
}

.prose a:hover {
	@apply text-textAccent;
}

.prose p {
	margin: 1rem 0;
	line-height: 1.4;
}

.prose :is(ul, ol) {
	list-style-type: disc;
	padding-left: 1rem;
	margin-left: 1.5rem;
}

.prose :is(ul, ol) li {
	margin-bottom: 0.5rem;
	padding-inline-start: 0.5rem;
}

.prose pre {
	max-inline-size: 100%;
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
	background-color: #f5f5f5;
	overflow-x: auto;
}

.prose blockquote {
	@apply my-4 border-l-2 border-emerald-500 bg-emerald-500 bg-opacity-10 px-4 py-2.5;
}

.prose blockquote p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 1rem;
	line-height: 1.6;
	margin: 0;
	@apply text-textAccent;
}

#abdultech {
	animation: line-fill 0.5s ease forwards 3.5s;
}

#abdultech path:nth-child(1) {
	stroke-dasharray: 515.9183959960938;
	stroke-dashoffset: 515.9183959960938;
	animation: line-anim 2s ease forwards;
}

#abdultech path:nth-child(2) {
	stroke-dasharray: 466.450439453125;
	stroke-dashoffset: 466.450439453125;
	animation: line-anim 2s ease forwards 0.3s;
}

#abdultech path:nth-child(3) {
	stroke-dasharray: 466.48565673828125;
	stroke-dashoffset: 466.48565673828125;
	animation: line-anim 2s ease forwards 0.6s;
}

#abdultech path:nth-child(4) {
	stroke-dasharray: 363.7239685058594;
	stroke-dashoffset: 363.7239685058594;
	animation: line-anim 2s ease forwards 0.9s;
}

#abdultech path:nth-child(5) {
	stroke-dasharray: 207.63778686523438;
	stroke-dashoffset: 207.63778686523438;
	animation: line-anim 2s ease forwards 1.2s;
}

#abdultech path:nth-child(6) {
	stroke-dasharray: 325.8177795410156;
	stroke-dashoffset: 325.8177795410156;
	animation: line-anim 2s ease forwards 1.5s;
}

#abdultech path:nth-child(7) {
	stroke-dasharray: 448.2218933105469;
	stroke-dashoffset: 448.2218933105469;
	animation: line-anim 2s ease forwards 1.8s;
}

#abdultech path:nth-child(8) {
	stroke-dasharray: 326.876953125;
	stroke-dashoffset: 326.876953125;
	animation: line-anim 2s ease forwards 2.1s;
}

#abdultech path:nth-child(9) {
	stroke-dasharray: 412.9675598144531;
	stroke-dashoffset: 412.9675598144531;
	animation: line-anim 2s ease forwards 2.4s;
}

#abdultech-logo path:nth-child(1) {
	stroke-dasharray: 1385.593017578125;
	stroke-dashoffset: 1385.593017578125;
	animation: line-anim 2s ease forwards;
}

@keyframes slide-enter {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 100;
	}
}

.slide-enter-content > * {
	--stagger: 0;
	--delay: 150ms;
	--start: 0ms;
	animation: slide-enter 1s both 1;
	animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.slide-enter-content > *:nth-child(1) {
	--stagger: 1;
}
.slide-enter-content > *:nth-child(2) {
	--stagger: 2;
}
.slide-enter-content > *:nth-child(3) {
	--stagger: 3;
}
.slide-enter-content > *:nth-child(4) {
	--stagger: 4;
}
.slide-enter-content > *:nth-child(5) {
	--stagger: 5;
}

@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes line-fill {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}
